.footer {
  background: var(--card);
  padding: 2rem 1rem;
  text-align: center;
}

.links {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.socials {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
