.footer {
  background: var(--card);
  padding: 2rem 1rem;
  text-align: center;
  border-top: 2px solid var(--primary);
}

.links {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.socials {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.socials a {
  color: var(--primary);
  font-size: 1.5rem;
  text-decoration: none;
  transition: color .2s;
}

.socials a:hover {
  color: var(--accent);
}
